.advantage {
	display: grid;
	gap: 10px 40px;
	grid-template-columns: 50px 1fr;

	margin-bottom: 20px;
}

.title {
	align-self: center;

	font-weight: bold;
}

.vline {
	border-left: 1px solid var(--dark-gray);
}
