.ratingWrapper {
	position: relative;
}

.star svg {
	margin-right: 5px;
	fill: #C5C5C5;
}

.star {
	display: inline-block;
}

.filled svg {
	fill: var(--primary);
}

.editable {
	cursor: pointer;
}

.error svg {
	stroke: var(--red);
}

.errorMessage {
	position: absolute;
	bottom: -22px;
	left: -80px;

	white-space: nowrap;

	color: var(--red);
}
