.product {
	display: grid;
	grid-template-columns:
		[start] 70px [logoend] 30px [titlestart]
		calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px
		[creditstart] auto [creditend] 40px [ratingstart] auto [end];

	margin-bottom: 30px;
	padding: 30px;
}

.logo {
	grid-column: start / logoend;
	grid-row: 1 / span 2;
}

.title,
.tags {
	grid-column: titlestart / middle;
}

.price,
.priceTitle {
	grid-column: pricestart / priceend;
}

.credit,
.creditTitle {
	grid-column: creditstart / creditend;
}

.rating,
.rateTitle {
	grid-column: ratingstart / end;
}

.hr,
.description,
.actions {
	grid-column: start / end;
}

.description {
	margin-bottom: 20px;

	color: var(--black);

	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.feature {
	grid-column: start / middle;
}

.advBlock {
	grid-column: middle / end;
}

.advantages {
	margin-bottom: 20px;
	padding-left: 15px;

	border-left: 2px solid var(--green);
}

.disadvantages {
	padding-left: 15px;

	border-left: 2px solid var(--red);
}

.advTitle {
	margin-bottom: 5px;

	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
}

.logo img {
	border-radius: 5px;
}

.title {
	align-self: flex-end;

	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

.oldPrice {
	margin-bottom: 0;
	margin-left: 4px;
}

.price {
	display: grid;
	grid-auto-flow: column;

	align-items: flex-end;
}

.month {
	font-size: 14px;
	line-height: 19px;
}

.price,
.credit,
.rating {
	align-self: flex-end;

	font-size: 20px;
	font-weight: 400;
	line-height: 27px;
}

.priceTitle,
.creditTitle,
.rateTitle {
	margin-top: 10px;

	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
}

.reviewButton {
	margin-left: 20px;
}

.characteristics {
	display: grid;
	grid-template-columns: auto 1fr auto;

	align-items: baseline;

	padding-right: 60px;

	font-size: 16px;
	line-height: 32px;
	gap: 10px;
}

.characteristicsName {
	font-weight: 700;
}

.characteristicsDots {
	align-self: center;

	border-bottom: 1px dashed var(--gray);
}
