.header {
	grid-template-columns: 1fr 40px;
	gap: 10px;

	margin: 15px 15px 0;
}

.header svg {
	fill: var(--primary);
}

.mobileMenu {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	overflow-y: scroll;

	padding: 20px 10px;

	background-color: #E5E5E5;
}

.closeMenu {
	position: fixed;
	z-index: 11;
	top: 15px;
	right: 15px;
}
