.sort {
	display: grid;
	grid-template-columns: repeat(2, auto);

	align-items: center;

	white-space: nowrap;
	gap: 40px;
}

.sortIcon {
	display: none;
}

.active {
	color: var(--primary);

	font-weight: bold;
}

.active .sortIcon {
	display: inline-block;
}

.active svg {
	fill: var(--primary);
}

.sort span {
	display: grid;
	align-items: center;

	cursor: pointer;
	grid-auto-flow: column;
	gap: 8px;
}
