.wrapper {
	display: grid;

	min-height: 100vh;
	grid-template:
		". header header ." auto
		". sidebar body ." 1fr
		"footer footer footer footer" auto
		/ auto 230px minmax(320px, 1200px) auto;
}

.header {
	grid-area: header;
	justify-self: center;
}

.body {
	grid-area: body;
}

.sidebar {
	grid-area: sidebar;
	justify-self: center;

	align-self: center;
}

.footer {
	grid-area: footer;
	justify-self: center;
}
