.reviewForm {
	display: grid;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 20px 30px;

	align-items: center;
}

.title {
	justify-self: left;
}

.rating {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
}

.description,
.submit {
	grid-column: start / end;
}

.info {
	margin-left: 15px;
}

.success {
	position: relative;

	padding: 20px;

	border-radius: 5px;
	background-color: var(--light-green);
	grid-column: start / end;
}

.success span {
	color: var(--green);
}

.successTitle {
	font-weight: bold;
}

.closeIcon {
	position: absolute;
	top: 20px;
	right: 20px;

	cursor: pointer;
}

@media screen and (max-width: 1200px) {
	.reviewForm {
		grid-template-columns: [start] 1fr 1fr [end];
	}

	.rating {
		grid-column: start / end;
	}
}

@media screen and (max-width: 930px) {
	.reviewForm {
		grid-template-columns: [start] 1fr  [end];
	}

	.title {
		justify-self: normal;
	}
}
