html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background-color: #E5E5E5;

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		color: white;
		background: black;
	}
}

:root {
	--black: #3B434E;
	--light-gray: #B3C0D9;
	--dark-gray: #787D85;
	--gray: #A4A4A4;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #5221FF;
	--red: #FC836D;
	--green: #1DC37E;
	--light-green: #1DC37E;
	--font-family: "Noto Sans", sans-serif;
}
